*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    display: block;
    width: 400px;
    margin: 30px auto;
    /* box-shadow: 20px 10px 40px 5px rgba(71, 3, 148, 0.555); */
    box-shadow: 6px 6px 20px -14px rgba(32, 2, 63, 0.538) ;

}

.box{
    width: 100px;
    height: 100px;
    margin: 30px;
    background: steelblue;

    /* box-shadow: 100px  100px 0px  0 coral,
                 100px 0 0 0 darkblue ,
                 0px 100px 0 0 darkgoldenrod ; */
                 /* box-shadow: 3px 3px 12px 0 crimson; */
}