*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
color: rgb(255, 255, 255);
/* background: rgb(21, 152, 246); */
padding: 2rem 0;
background: hsl(190, 60%, 52%);
}

.title{
    text-align: center;
}